{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武鑑 BUKAN: {{ book.original_id }}⚯</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'compare/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'compare/bulma.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'compare/custom.css' %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation">
        <div class="navbar-brand">
          <a href="{% url 'books' %}" class="navbar-item"><ruby>武鑑<rt>BUKAN</rt></ruby></a>
          <span class="navbar-item">›</span>
          <a href="{% url 'bookpairs' book.id %}" class="navbar-item"><ruby>{{ book.original_id }}⚯<rt>{{ book.id }}</rt></ruby></a>
        </div>
      </nav>
      <table class="table" id="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Original ID</th>
            <th>Title</th>
            <th>Pages</th>
            <th colspan="2">Published</th>
            <th>Released</th>
          </tr>
        </thead>
        <tbody>
          <tr class="is-selected">
            <td>{{ book.id }}</td>
            <td>{{ book.original_id }}</td>
            <td>{{ book.title }}</td>
            <td class="is-success">{% if book.pages_per_scan == 2 %}{{ book.nr_scans|add:book.nr_scans }}{% else %}{{ book.nr_scans }}{% endif %}</td>
            <td>{{ book.era_year }}</td>
            <td>{{ book.era_name }}</td>
            <td>{{ book.released }}</td>
          </tr>
          {% for main, book1, book2, nr_pages in bookpairs %}
          <tr>
            {% if book.pages_per_scan == 2 %}
            <td><a href="{% url 'pagepair' main book1.id book2.id 1 'r' %}">{{ book1.id }}⚯{{ book2.id }}</a></td>
            {% else %}
            <td><a href="{% url 'pagepair' main book1.id book2.id 1 'w' %}">{{ book1.id }}⚯{{ book2.id }}</a></td>
            {% endif %}
            <td>{{ book2.original_id }}</td>
            <td>{{ book2.title }}</td>
            <td class="is-success">{{ nr_pages }}/{% if book2.pages_per_scan == 2 %}{{ book2.nr_scans|add:book2.nr_scans }}{% else %}{{ book2.nr_scans }}{% endif %}</td>
            <td>{{ book2.era_year }}</td>
            <td>{{ book2.era_name }}</td>
            <td>{{ book2.released }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <footer>
        <div class="content has-text-left">
          <p>
            By <a href="mailto:leyht@informatik.uni-freiburg.de">Thomas Leyh</a> from the <a href="https://www.uni-freiburg.de/">University of Freiburg</a>
            during an internship at the <a href="https://www.nii.ac.jp/">National Institute of Informatics</a> in Tokyo, 2020.
            The <a href="https://github.com/leyhline/django-bukan-compare">source code</a> is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>. 
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
