{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武鑑 BUKAN: {{ title.kanji }} {{ title.romanji|upper }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'compare/bulma.min.css' %}">
    <script>
      let headBox = undefined
      let bookCheckboxes = []

      function headBoxChecked() {
        if (headBox.checked === false) {
          bookCheckboxes.forEach(cb => {cb.checked = false; cb.disabled = false})
        }
      }

      function compareBooks() {
        const checked = bookCheckboxes.filter(cb => {return cb.checked === true})
        if (checked.length > 0) {
          headBox.checked = true
          if (checked.length > 1) {
            const unchecked = bookCheckboxes.filter(cb => {return cb.checked === false})
            unchecked.forEach(cb => {cb.disabled = true})
          }
        } else {
          headBox.checked = false
          bookCheckboxes.forEach(cb => {cb.disabled = false})
        }
      }

      document.addEventListener('DOMContentLoaded', () => {
        headBox = document.getElementById('bx')
        headBox.onclick = headBoxChecked
        headBox.checked = false
        bookCheckboxes = Array.from(document.getElementsByClassName('cb-book'))
        bookCheckboxes.forEach(cb => {cb.onclick = compareBooks; cb.checked = false})}, false)
    </script>
  </head>
  <body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a href="{% url 'titles' %}" class="navbar-item"><ruby>武鑑<rt>BUKAN</rt></ruby></a>
      <span class="navbar-item">›</span>
      <a href="{% url 'books' title.id %}" class="navbar-item"><ruby>{{ title.kanji }}<rt>{{ title.romanji|upper }}</rt></ruby></a>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <table class="table" id="table">
        <thead>
          <tr>
            <th><input type="checkbox" id="bx" name="bx"></th>
            <th>ID</th>
            <th>Original ID</th>
            <th>Released</th>
            <th>Classification</th>
            <th colspan="2">Published</th>
            <th>Aspect</th>
            <th>Scans</th>
          </tr>
        </thead>
        <tbody>
          {% for book in title.book_set.all %}
          <tr>
            <td><input type="checkbox" id="b{{ book.id }}" name="b{{book.id}}" class="cb-book"></td>
            <td><a href="{% url 'pages' book.id %}">{{ book.id }}</a></td>
            <td>{{ book.original_id }}</td>
            <td>{{ book.released }}</td>
            <td>{{ book.classification }}</td>
            <td>{{ book.published }}</td>
            <td>{{ book.published_ad }}</td>
            <td>{{ book.aspect }}</td>
            <td>{{ book.nr_scans }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  </body>
</html>