{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武鑑 BUKAN</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'compare/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'compare/bulma.min.css' %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation">
        <div class="navbar-brand">
          <a href="{% url 'books' %}" class="navbar-item"><ruby>武鑑<rt>BUKAN</rt></ruby></a>
        </div>
      </nav>
      <table class="table" id="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Original ID</th>
            <th>Title</th>
            <th colspan="2">Published</th>
            <th>Pages</th>
            <th>Released</th>
          </tr>
        </thead>
        <tbody>
          {% for book in object_list %}
          <tr>
            <td><a href="{% url 'pages' book.id %}">{{ book.id }}</a></td>
            <td>{{ book.original_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.era_year }}</td>
            <td>{{ book.era_name }}</td>
            <td>{{ book.nr_scans }}</td>
            <td>{{ book.released }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <footer>
        <div class="content has-text-left">
          <p>
            By <a href="mailto:leyht@informatik.uni-freiburg.de">Thomas Leyh</a> from the <a href="https://www.uni-freiburg.de/">University of Freiburg</a>
            during an internship at the <a href="https://www.nii.ac.jp/">National Institute of Informatics</a> in Tokyo, 2020.
            The <a href="https://github.com/leyhline/django-bukan-compare">source code</a> is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>. 
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>