{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'compare/bulma.min.css' %}">
    <script>var pageId = {{ page.id }}</script>
    <script src="{% static 'compare/overlay.js' %}"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Page: {{ page.page }} {{ page.get_lr_display }}
      </h1>
      <div style="float: right;">
        <form>
          {% for page_id, nr_matches in matching %}
          <label class="radio"><input type="radio" name="match" value="{{ page_id }}">
            <a href="{% url 'page' page_id %}">Page {{ page_id }}</a> ({{ nr_matches }} matching keypoints)
          </label><br>
          {% endfor %}
        </form>
      </div>
      <canvas id="overlay" width="{% if page.lr == 0 %}990{% else %}495{% endif %}" height="660" class="has-background-grey-light" style="border: thick double grey;"></canvas>
      <div>
        <img src="{% static 'images/'|add:filename %}" id="sourceimage" hidden>
        <img src="" id="targetimage" hidden>
      </div>
    </div>
  </section>
  </body>
</html>