{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武鑑 BUKAN: PAGE {{ page.page }} {{ page.lr.decode }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'compare/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'compare/bulma.min.css' %}">
    <script>var pageId = {{ page.id }}</script>
    <script src="{% static 'compare/overlay.js' %}"></script>
  </head>
  <body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a href="{% url 'books' %}" class="navbar-item"><ruby>武鑑<rt>BUKAN</rt></ruby></a>
      <span class="navbar-item">›</span>
      <a href="{% url 'pages' page.book_id %}" class="navbar-item"><ruby>{{ page.book.original_id }}<rt>{{ page.book_id }}</rt></ruby></a>
      <span class="navbar-item">›</span>
      <a href="{% url 'page' page.id %}" class="navbar-item">PAGE {{ page.page }} {{ page.lr.decode }}</a>
    </div>
  </nav>
      <div class="columns is-vcentered is-gapless">
        <div class="column">
          {% if next %}
          <a href="{% url 'page' next.id %}" class="button is-link is-light is-pulled-right">ᐸ</a>
          {% else %}
          <a class="button is-link is-light is-pulled-right" disabled>ᐸ</a>
          {% endif %}
        </div>
        <div class="column">
          <div class="columns is-gapless is-marginless">
            <div class="column"><a id="sourcelink" class="is-pulled-left" href="http://codh.rois.ac.jp/iiif/iiif-curation-viewer/index.html?pages={{ page.book_id }}&pos={{ page.page }}" target="_blank">IIIF: {{ page.book_id }}-{{ page.page }}</a></div>
            <div class="column is-1">➠</div>
            <div class="column"><a id="targetlink" class="is-pulled-right" target="_blank"></a></div>
          </div>
          <canvas id="overlay" width="{% if page.lr.decode == "w" %}990{% else %}495{% endif %}" height="660" class="has-background-grey-light" style="border: medium solid lightgrey;"></canvas>
        </div>
        <div class="column">
          {% if previous %}
          <a href="{% url 'page' previous.id %}" class="button is-link is-light is-pulled-left">ᐳ</a>
          {% else %}
          <a class="button is-link is-light is-pulled-left" disabled>ᐳ</a>
          {% endif %}
        </div>
        <div class="column">
          <table class="table is-narrow">
            <thead>
              <tr>
                <th></th>
                <th>1st</th>
                <th>2nd</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody id="matches">
            {% for match in matches %}
            <tr id="p{{ page.id }}">
              <td><input type="radio" name="match" value="{{ page.id }},{{ page.book_id }},{{ page.page }}"></td>
              <td>{{ match.first_page.book.id }}-{{ match.first_page.page }}</td>
              <td>{{ match.second_page.book.id }}-{{ match.second_page.page }}</td>
              <td>{{ match.nr_matches }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <img src="{% static url %}" id="sourceimage">
        <img src="" id="targetimage">
      </div>
  </body>
</html>
