{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武鑑 BUKAN</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'compare/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'compare/bulma.min.css' %}">
  </head>
  <body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a href="{% url 'titles' %}" class="navbar-item"><ruby>武鑑<rt>BUKAN</rt></ruby></a>
    </div>
  </nav>
    <div class="container">
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Bukan Title</th>
            <th>in Hiragana</th>
            <th>in Romanji</th>
            <th>Number of Books</th>
          </tr>
        </thead>
        <tbody>
          {% for title in title_list %}
          <tr>
            <td><a href="{% url 'books' title.id %}">{{ title.kanji }}</a></td>
            <td>{{ title.hiragana }}</td>
            <td>{{ title.romanji  }}</td>
            <td>{{ title.nr_books }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>